* {
    box-sizing: border-box;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
}
body {
    background: #FB6B6B;
}
.root {
    height: 100vh;
}
.tela-inicial {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #DBDBDB;
}
.tela-inicial img {
    width: 136px;
    height: 161px;
    margin-top: 90px;
}
.tela-inicial h1 {
    margin-top: 13px;
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}
.tela-inicial button {
    width: 246px;
    height: 54px;
    margin-top: 30px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: none;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #D70900;
}
.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 41px;
    margin-bottom: 52px;
    width: 100vw;
}
.pagina-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
.logo {
    display: flex;
    margin-top: 22px;
}
.logo img {
    width: 52px;
    height: 60px;
    margin-right: 10px;
}
.logo h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
}
.exibir {
    display: block;
}
.questao {
    position: relative;
    display: flex;
    align-items: center;
    width: 340px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 10px;
}
.questao span {
    width: 90px;
    margin-left: 14px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #333333;
}
.questao img {
    position: absolute;
    right: 15px;
    width: 23px;
    height: 23px;
}
.pergunta {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 131px;
    margin-top: 10px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.pergunta span {
    margin-top: 13px;
    margin-left: 6px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #333333;
}
.virar-card {
    position: absolute;
    width: 20px;
    height: 13px;
    right: 8px;
    bottom: 7px;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    min-height: 50px;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
.footer span {
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 12px;

    color: #333333;
}
.footer ion-icon {
    font-size: 25px;
}
.footer-icones{
    margin-bottom: 12px;
}
.botao {
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 12px;
}
.botao button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;
    min-height: 37px;
    border: none;
    border-radius: 5px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
.botao-nao {background-color: #FF3030;}

.botao-quase {background-color: #FF922E;}

.botao-zap {background-color: #2FBE34;}

.esconder {display: none;}

.vermelho span {text-decoration-line: line-through;color: #FF3030;}

.laranja span {text-decoration-line: line-through;color: #FF922E;}

.verde span {text-decoration-line: line-through;color: #2FBE34;}

.footer img {margin-right: 3px;}

@media (max-width: 367px) {
    .questao {
        width: 89%;
    }

    .pergunta {
        width: 89%;
    }

}