*{
    box-sizing: border-box;
}
body{
    font-family: 'Recursive';
    background: #FB6B6B;
}
.root{
    width: 100%;
    height: 100vh;      
}
.tela-inicial{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #DBDBDB;
}
.tela-inicial img{
    width: 55px;
    height: 65px;
}
.tela-inicial h1{
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: #FFFFFF;
}
.tela-inicial button{
    width: 141px;
    height: 31px;
    margin-top: 74px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #D70900;
}
.pagina-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    display: flex;
    margin-top: 22px;
}
.logo img{
    width: 26px;
    height: 30px;
}
.logo h1{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;        
    color: #FFFFFF;
}
.questao{   
    position: relative;
    display: flex;
    align-items: center;
    width: 340px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 5px;
}
.questao span{
    width: 90px;
    height: 14px;
    margin-left: 14px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #333333;
}
.questao ion-icon{
    position: absolute;
    font-size: 30px;
    right: 12px;
    color: #333333;
}
.pergunta{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 80px;
    margin-top: 5px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;;
}
.pergunta span{
    margin-top: 13px;
    margin-left: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
}
.virar-card{
    position: absolute;
    width: 20px;
    height: 13px;
    right: 8px;
    bottom: 7px;

}
.esconder{
    display: none;
}
.exibir{
    display: block;
}


